################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/1.6/Assemblies
/Source/BabAndJam/.vs
/Source/BabAndJam/obj
